<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToDoList</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
   <link rel="stylesheet" href="/style.css">
</head>
<body>
    <nav>
        <h1><a href="/">To Do List</a></h1>
       <div class="btn1">
        <button class="btn2"><a href="/">Logout</a></button>
      </div> 
    </nav>
    
    <header class="header">
        <h2>Just do it.</h2>
        <form action="/tasks" method="post">
            <input type="text" name="todo" placeholder="Enter Task" required>
            <button type="submit" class="btn">Add</button>
        </form>
    </header>

<footer class="footer">Copyright 2024 JSON Web Token</footer>
</body>
</html>